.social-media-icons-black a {
    color: blue;
    font-size: 2rem;
    padding: 10px;
    text-decoration: none;
}

.social-media-icons-black a:hover {
    color: white;
}

body {
    margin: 0;
    font-family: 'Trirong', serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer {
    margin-top: auto;
    position: relative;
}

aside {
    font-style: italic;
    color: aqua;
    text-align: left;
}

.nav-list-item {
    text-transform: uppercase;
    list-style-type: none;
    padding: 5px;
    display: inline-block;
}

.nav-list-item a:hover {
    color: white;
}

.monty {
    position: relative;
    width: 100%;
    height: 100%;
}

.page-title {
    text-align: center;
    position: absolute;
}

.card-body {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}

#emailMessage {
    color: red;
    text-decoration: underline;
    padding-top: 10px;
    font-size: large;
}

table {
    border-collapse: collapse;
    width: 65%;
    float: left;
    margin-left: 15px;
}

th,
td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

#floating {
    float: inline-end;
    width: 30%;
    margin-right: 15px;
}

.ref {
    text-align: left;
}

.card-header {
    text-align: center;
}

#data {
    text-align: center;
}
